p {
  color: red
}
h1{
  color: red
}
header {
    background-color: 
    color: white;
    text-align: center;
    
    border: 2px solid darkgree;
}

header h1 {
    margin-bottom: ;
}


form {
    background-color: white;
    padding: 20px;
    margin: 20px auto 0; 
    max-width: 1000px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #fafafa;
}

button:hover {
    background-color: #45a049;
}


footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #ddd;
    border-radius: 10px;
    font-size: 14px;
}
